@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.swiper-button-next,
.swiper-button-prev {
  color: white; /* Change la couleur des flèches */
}

/* Header */

.menu-link {
  @apply hover:text-red-600 cursor-pointer
}

.drawer-item {
  @apply border-mainColor rounded-md p-1 hover:text-mainColor cursor-pointer mb-5
}

.menu-item {
  @apply border-mainColor rounded-md p-1 hover:text-mainColor cursor-pointer mx-4 px-3
}

/* Testimonials */

.instagram-item {
  @apply lg:px-2 cursor-pointer hover:opacity-90
}

.swiper-button-next,
  .swiper-button-prev {
    @apply !text-gray-300
  }

  .swiper-pagination {
    @apply !-bottom-0 ; /* Positionne les points en bas */
  }

  .swiper-pagination-bullet-active {
    @apply !bg-mainColor ; /* Positionne les points en bas */
  }
  